body {
  background-color: #eeeeee;
  height: 100%;
}

header {
  box-shadow: 0px 1px 0px rgb(16, 16, 16);
  margin-bottom: 10px;
}
header .logo {
  background-color: #ffdf59;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo h3, header .logo h5 {
  text-align: center;
  margin: 0;
}
header .logo img {
  width: 100px;
}
header .logo h5 {
  font-weight: normal;
}

main .wrapper {
  padding: 10px 10px;
  padding-bottom: 30px;
  border: 1px #000000 solid;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
main .wrapper .stepper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
main .wrapper .stepper .dot {
  height: 50px;
  width: 50px;
  background-color: #ffdf59;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main .wrapper .stepper #dot1::after {
  content: "INFROMATION";
  width: 100%;
  position: absolute;
  top: 120%;
  left: -15%;
  display: block;
  font-weight: normal;
  font-size: small;
}
main .wrapper .stepper #dot2::after {
  content: "QUESTIONS";
  width: 100%;
  position: absolute;
  top: 120%;
  left: -15%;
  display: block;
  font-weight: normal;
  font-size: small;
}
main .wrapper .stepper #dot3::after {
  content: "RESULTS";
  width: 100%;
  position: absolute;
  top: 120%;
  left: -15%;
  display: block;
  font-weight: normal;
  font-size: small;
}
main .wrapper .stepper::after {
  content: "";
  height: 6px;
  background-color: #ccc9c9;
  width: 100%;
  position: absolute;
  z-index: -1;
}
main .wrapper .stepper .stepper-progress {
  transition: ease-in-out 0.4s;
  height: 6px;
  background-color: #0b0a0a;
  width: 0;
  position: absolute;
}
main .question-cards-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  justify-content: center;
}
main .question-cards-container .card {
  background-color: #aaa9a4;
  color: #eeeeee;
  border: #000000 1px solid;
  cursor: pointer;
  font-size: large;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 2px 1px;
}
main .question-cards-container .card:hover {
  background-color: #e0c249;
  color: #000000;
}

.btn-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.stepper-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hidden {
  display: none !important;
}

.section-container {
  width: 80%;
  margin: 0 auto;
}
.section-container h1 {
  text-align: center;
}

.pending {
  background-color: #ccc9c9 !important;
  border: 0;
}

.active {
  background-color: #ffdf59 !important;
  border: #000000 3px solid;
  transition: ease-in-out 0.4s;
}

.question-heading-container {
  box-shadow: 0px 3px 3px 2px;
  padding: 1px;
  margin: 20px 0;
}
.question-heading-container h1 {
  padding: 10px;
  margin: 0;
  font-size: 1.4rem;
}

.btn-container .start-btn {
  background-color: #ffdf59;
  border: 2px #000000 solid;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}
.btn-container .start-btn:hover {
  box-shadow: 1px 1px 1px;
}

.progress-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.progress-container .progress-bar-outer {
  width: 80%;
  height: 3em;
  background-color: #000000;
  color: #fff;
  border-radius: 1.5em;
  border: 2px #000000 solid;
  display: flex;
  align-items: center;
  position: relative;
}
.progress-container .progress-bar-outer .progress-bar-inner {
  color: #9d9d9d;
  display: flex;
  align-items: center;
  height: 3.5em;
  border-radius: 1.5em;
  width: 0;
  background-color: #ffdf59;
  max-width: 100%;
  transition: ease-in-out 0.4s;
  font-size: 0.7rem;
  font-weight: bold;
}
.progress-container .progress-bar-outer #progress-text {
  position: absolute;
  color: rgb(157, 155, 155);
}

.correct-answers-explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.correct-answers-explanation .correct-answer {
  margin-top: 10px;
  border: #0b0a0a solid 2px;
  color: #0b0a0a;
  padding: 10px 30px;
  border-left: 10px solid #158a08;
  font-size: 0.7em;
  font-weight: normal;
  background-color: #fff;
  border-radius: 10px;
}
.correct-answers-explanation .correct-answer:first-child {
  margin: 0;
}
.correct-answers-explanation .wrong-answer {
  margin-top: 10px;
  border: #0b0a0a solid 2px;
  color: #0b0a0a;
  padding: 10px 30px;
  border-left: 10px solid #ee2626;
  font-size: 0.7em;
  font-weight: normal;
  background-color: #fff;
  border-radius: 10px;
}
.correct-answers-explanation li {
  text-align: left;
  margin-top: 10px;
}
.correct-answers-explanation .first-word {
  font-weight: bold;
}

.answer-incorrect {
  background: #ee2626 !important;
}

.answer-correct {
  background: #158a08 !important;
}